@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Manrope !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.card {
  border-radius: 1.5rem !important;
}
.card-body {
  border-radius: 1.5rem;
}

.navbar-brand {
  margin-right: 0 !important;
}

.navbar-nav .dropdown-menu {
  position: absolute !important;
}

.nav-link {
  display: flex !important;
}
